@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #040714;
    color: #F9F9F9;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: #090b13;
    z-index: 2000;
    padding: 0 38px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
nav div{
    display: block;
}
nav .div1{
    float:right;
}
.nav__boton{
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    color: #F9F9F9;
    padding: 10px 18px;
    margin: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    letter-spacing: 1.2px;
}
.nav__boton--suscribirse{
    background: #0063E5;
}
.nav__boton--suscribirse:hover{
    background: #2077E8;
}
.nav__boton--login{
    margin-left: 18px;
    transition: background .2s ease;
    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -ms-transition: background .2s ease;
    -o-transition: background .2s ease;
}
.nav__boton--login:hover{
    background: white;
    color: black;
}
.nav__img{
    display: block;
    width: 80px;
    height: 43.53px;
}
.presentacion{
    margin: 133px 40px 18px 40px;
    position: relative;
    z-index: 10;
}
.guardar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.presentacion__fondo{
    width: 100%;
    height: 100%;
}
.h1__frase{
    font-size: 36px;
}
.h1__frase span{
    display: block;
}
.presentacion__img{
    width: 160px;
    height: 87.08px;
    margin-bottom: -8px;
}
.suscribcion__div{
    margin-top: -30px;
}
.suscribcion{
    display: inline-block;
    margin-right: 30px;
}
.suscribcion__precio{
    font-size: 28px;
}
.suscribcion__precio span{
    opacity: .7;
    font-size: 14px;
    font-weight: 400;
}
.suscribcion__boton{
    text-decoration: none;
    font-size: 18px;
    word-spacing: 4px;
    padding: 18px 73.30px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #F9F9F9;
    background: #0063E5;
    font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.presentacion p{
    font-size: 11px;
    margin-top: 40px;
}
.marcas{
    margin-top: 88px;
    width: 600px;
}
.subtext{
    font-weight: 300;
    letter-spacing: .3px;
    word-spacing: .6px;
    opacity: .7;
    font-size: 14px;
}
.dispositivos{
    position: relative;
    z-index: 14;
    text-align: left;
}
.dispositivos__div{
    position: relative;
    z-index: 15;
    padding: 60px 40px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.dispositivos__texto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 4% 0 0;
    box-sizing: border-box;
    margin-top: 20px;
    width: 50%;
    flex: 0 0 auto;
}

.dispositivos__texto h1{
    font-size: 34px;
    margin: 0 0 20px;
}
.dispositivos__texto p{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: hsla(0,0%,75.3%,.8);
}

.dispositivos__imagen{
    width: auto;
    display: block;
    flex: 1 1 auto;
}
.dispositivos__imagen img{
    width: 634.5px;
    height: 507.59px;
}
.sep{
    padding-top:60px;
    padding-bottom: 60px;
}
.productos{
    padding: 0px 37px;
    text-align: center;
}
.productos h1{
    font-size: 36px;
    margin: 0 0 24px;
}
.productos p{
    font-weight: 300;
    font-size: 18px;
    color: hsla(0,0%,75.3%,.8);
    margin: 0 0 24px;
}

.contenido{
    margin: 0 -12px;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 274.17px 274.17px 274.17px;
    grid-template-columns: 430.95px 430.95px 430.95px;
    padding: 10px 40px;
}

.grid-item{
    border-radius: 4px;
    padding: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.grid-item .grid-cell img{
    border-radius: 4px;
    width: 406.95px;
    height: 244.17px;
}

.div__boton{
    position: relative;
    padding: 60px 40px;
    text-align: center;
}
.suscribcion__boton--solo{
    display: inline-block;
}

.leon__div{
    position: relative;
    margin: 0px 40px;
    padding: 60px 0;
}
.leon__img {
    position: relative;
    z-index: 500;
}
.leon__img img{
    width: 100%;
    height: 100%;
}
.leon__texto{
    position: absolute;
    margin-right: 70px;
    z-index: 501;
    top: 37%;
    left: 52%;
    transform: translateZ(-50%);
    -webkit-transform: translateZ(-50%);
    -moz-transform: translateZ(-50%);
    -ms-transform: translateZ(-50%);
    -o-transform: translateZ(-50%);
}
.leon__texto h3{
    font-size: 34px;
    margin-bottom: 0 0 24px;
}
.leon__texto p{
    line-height: 30px;
    font-size: 18px;
    margin-top: -10px;
    letter-spacing: 1.2;
    font-weight: 300;
    color: hsla(0,0%,75.3%,.8);   
}
.content__disp{
    padding: 60px 40px;
}
.contenido__disp{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin: 0 -12px;
}
.grid__itemdisp{
    padding: 12px;
}

.disp__img img{
    width: 100%;
    height: 100%;
}

.disp__text h4{
    font-size: 22px;
    margin: 26px 0;
}
.disp__text p{
    color: hsla(0,0%,75.3%,.8);
    font-weight: 300;
    font-size: 19px;
    margin: 8px 0;
}
.cont__text{
    font-size: 24px;
    text-align: center;
}
.div__footer{
    text-align: center;
    font-size: 12px;
    padding: 26px 80px;
    color: hsla(0,0%,75.3%,.8);
}

.footer__link{
    margin-bottom: 6px;
}
.footer__link a{
    display: inline-block;
    text-decoration: none;
    padding: 8px 12px;
    color: hsla(0,0%,75.3%,.8);
}
.footer__img{
    margin-bottom: 4px;
}
.footer__img img{
    width: 7%;
    height: 7%;
}
.copyright{
    margin: 0 0 24px;
}
.texto__final{
    padding: 0 100px;
    margin: 0 0 16px;
}

.flecha{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 400;
}

.flecha a{
    color: white;
    
}

.carrusel{
    padding-bottom:60px;
}
.flecha{
    animation: movimiento 1.2s infinite alternate;
    -webkit-animation: movimiento 1.2s infinite alternate;
}
.imagen{
    width: 100%;
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    100%{
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
}
}